
<style>

body {
    margin: 0;
    width: 100%;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 80%;
    position: absolute;
    top: 5%;
   display: inline-block;
   left: 10%;
    text-align: center;
    color: #ffff;
}

td,th{
    color:#000;
}

h1 {
    font-weight: 300;
}

h3 {
    color: #ffff;
    font-weight: 100;
}

h2 {
    color:#ffff;
    font-weight:300;
}

a,
a:hover {
    text-decoration: none;
    color: #ddd;
}

</style>
