<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Pilote</h2>
    <div>
        <form class="form-horizontal" th:object="${pilote}" th:action="@{/pilote}" method="post">
          
            <div class="form-group">
                <label class="col-sm-2 control-label">nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nom}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">prenom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{prenom}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">tag</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{tag}"/>
                </div>
            </div>            
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
